<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dennisce.com.photoswitcher" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".MultiImageSelectorActivity" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dennisce.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>

